#banner {
  margin-left: -45px;
  margin-right: -45px;
}

#city-search {
  margin-left: 15px;
}

h4 {
  margin-left: 15px;
}

.card-container {
  margin-top: 20px;
  display: flex; /* Change to flex display */
  justify-content: space-between; /* Align items horizontally */
}

.card {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
  text-align: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.search-bar input[type="text"] {
  margin-right: 10px;
}

.search-bar input[type="submit"] {
  width: auto;
}

#saved-cities {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

#currentWeather {
  flex: 1; /* Take up remaining horizontal space */
  margin-left: 10px; /* Add left margin for spacing */
}